[gcode_macro COLD_PULL]
gcode:
    # Set the hotend to 200C and wait for it to reach temp
    M109 S200

    # Retract slightly to release pressure and set new target temp
    G91
    G1 E-10 F1200
    M104 S75

    # Extrude very slowly (5mm over 1 minute) while cooling
    G1 E5 F5

    # Wait for the hotend to cool to 75C and hold that temp
    M109 S75

    # Beep and display a message to get your attention
    M300 P500 ; Beep for half a second
    M117 Filament is at pull temp.

    # Heat hotend back up (no wait) and wait for 30 seconds to pull
    M104 S200
    G4 P30000 ; Dwell for 30 seconds
    M117 Ready to print!

    # Cool down the hotend for safety
    M104 S0